/* GLOBALS */

:root {
	/* Background Colors */
	--bg-dark-blue: hsl(243, 62%, 33%);
	--bg-light-blue:hsl(204, 100%, 67%);

	/* Fonts Colors */
	--c-dark-gray: hsl(0, 0%, 20%);

	/* Fonts */
	--f-main:'Opensans', sans-serif;
	--f-title:'Poppins', sans-serif;
}

html {
	font-size:62.5%;/*1rem = 10px*/
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

body {
	font-family: var(--f-main);
	font-size:1.4rem;
}

h1, h2, h3 {
	margin:0;
}

img {
	max-width:100%;
	height:auto;
}

a {
	text-decoration:none;
}

ul li {
	list-style-type: none;
}

/* LAYOUTS */

.container {
	width:83%;
	max-width:1114px;
	margin:0 auto;
}

section {
	margin-bottom:14rem;
}





