
/* colors */
$black:hsl(236, 22%, 15%);
$dark-blue:hsl(232, 23%, 20%);
$pink: hsl(329, 79%, 50%);
$light-grey: hsl(0, 0%, 77%);
$white: hsl(0, 0%, 100%);

/* fonts */
$roboto: 'Roboto', sans-serif;

/* Texts */
$color-text-base:$light-grey;
$color-text-accent:$pink;
$color-text-title:$white;

$font-body:$roboto;
$font-title:$roboto;
$font-size-body:1.6rem;